/*main elements*/
/* font options 
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Roboto', sans-serif;  */

body {
    /*    margin: 0 auto;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 1.8;
    font-size: 17px;
    color: black;
    background-color: #fefeff;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 3em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 2.5em;
    margin-top: 1em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 2em;
    margin-top: 1em;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: dimgrey;
}

p {
    padding-bottom: 0.3em;
}

#center {
    text-align: center;
}

#right {
    text-align: right;
    margin-right: 8em;
}

#left {
    margin-left: 8em;
}

h4 {
    font-weight: bold;
}

.logo {
    max-height: 7em;
}

/* links */
a {
    color: black;
}

a:visited {
    color: black;
    /*   check this later text-decoration-line: underline; */
}

a:hover {
    color: skyblue;
}

li a:hover {
    color: white;
}

a:active {
    color: darkblue;
}

/* main navigation */
header {
    background: linear-gradient(162deg, rgba(168, 225, 223, 1) 0%, rgba(136, 199, 219, 1) 68%, rgba(93, 151, 209, 1) 100%);
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
    padding: 1.5em 0;
}

.navigation-grid {
    display: inline-flex;
    align-items: center;
}

ul {
    text-align: center;
    font-size: 1.8em;
    display: inline-flex;
    font-family: 'Annie Use Your Telescope', cursive;
}

nav li {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 3.5em;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: black;
}

a.donate-button {
    font-family: 'Annie Use Your Telescope', cursive;
    background-color: black;
    border-radius: 3em;
    font-size: 1em;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    position: relative;
    text-decoration: none;
}


.donate-button:link,
.donate-button:visited {
    color: white;
}

.donate-button:hover {
    color: skyblue;
    text-decoration-line: underline;
}



/* home page - image left text right*/
.grid-img-left {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

.grid-img-right {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

.lake-img {
    max-width: 100%;
    margin-left: -2.5em;
}

.p-right {
    align-self: center;
}

.small-img {
    max-height: 20em;
}

/* home page - image right text left */
.scissors-img {
    max-width: 100%;
    margin-right: -2.5em;
}

.p-left {
    align-self: center;
}

/* card deck */

.grid-card {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.card {
    /* Add shadows to create the "card" effect */
    max-width: 20em;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


.card a {
    text-decoration: none;
}

.card a:hover {
    color: black;
}

img {
    max-width: 100%;
}

.card:hover {
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0.125em 1em;
    position: relative;
    max-width: 60vw;
}

/* footer */

footer {
    background: linear-gradient(162deg, rgba(168, 225, 223, 1) 0%, rgba(136, 199, 219, 1) 68%, rgba(93, 151, 209, 1) 100%);
}

.footer-button {
    display: inline;
}

footer li {
    padding-bottom: 1.2em;
    padding-left: 2.4em;
    padding-right: 2.4em;
}

.socials {
    padding: 1.7em;
    margin-top: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-icon img {
    max-height: 3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

footer a {
    text-decoration: none;
}

/* artists */
.artist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.8em;

}


.artist-grid img {
    box-shadow: 0 0.5em 1em 0 rgb(0 0 0 / 20%);
    max-width: 100%;
    border-radius: 1%;
}

#selected {
    box-shadow: 0 0.3em 0.8em 0 lightblue;
}

#selected-text {
    color: skyblue;
    text-decoration-line: underline;
    text-underline-offset: 0.125em;
    text-decoration-thickness: 0.02em;
    font-size: 5vw;
}


.text-img {
    position: relative;
    text-align: center;
    color: aliceblue;
}



.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    color: #fff;
    text-shadow: 5px 5px 10px black;
}

.centered-text:hover {
    color: skyblue;
}




/* meet the team */

.team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    text-align: justify;
}

.round-img {
    border-radius: 50%;
    max-height: 15em;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
    filter: grayscale(1);
}

.round-img:hover {
    filter: none;
}

.right-align {
    position: relative;
    float: right;
    margin-right: 4em;
}


/*  gallery */
* {
    box-sizing: border-box;
}

.mySlides {
    display: none;
}

.mySlides#main-slide {
    display: block;
}

.mySlides img {
    max-width: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 1em;
    margin-top: -3.125em;
    margin-right: 0.85em;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    border-radius: 0 0.1875em 0.1875em 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 0.1875em 0 0 0.1875em;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 0.75em;
    padding: 0.5em 0.75em;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    color: white;
    margin-top: -0.8em;
    padding: 0.5em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.container img {
    width: 100%;
}

.row img {
    width: 100%;
}

/* contact us form */

input {
    margin-top: 0.8em;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 0.9em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 1em;
    resize: vertical;
    font-family: verdana;
}

input[type="submit"] {
    font-family: 'Cutive Mono', monospace;
    background-color: black;
    border-radius: 2em;
    font-size: 1.1em;
    color: white;
    padding: 0.5em 1.5em;
    text-align: center;
    position: relative;
    text-decoration: none;
}

input[type="submit"]:hover {
    background-color: skyblue;
    cursor: pointer;
}

.contact input[type="submit"],
.feedback input[type="submit"] {
    float: right;
    margin-bottom: 1em;
    position: relative;
}


.container-form {
    padding: 20px;
    width: 75%;
    margin-bottom: 30px;

}

label {
    font-family: 'Roboto';
}

#message {
    height: 12.5em;
}

select#options {
    max-width: 6em;
}

select#amounts {
    max-width: 6em;
}

iframe {
    width: 100%;
    height: 55vw;
}


/* media queries */

/* for 1200px */
@media (max-width: 75em) {

    body {
        max-width: 100%;
        margin: 0 auto;
    }
}

/* for 1024px */
@media (max-width: 64em) {

    .navigation-grid {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
    }

    nav li {
        font-size: 0.7em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-top: 1em;
    }

    a.donate-button {
        font-size: 1em;
        padding: 0.8em 1em;

    }

    .logo {
        max-width: 16em;
    }

    body {
        max-width: 100%;
        margin: 0 auto;
    }

    .grid-img-left {
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }

    .lake-img {
        max-width: 100%;
        margin-left: 0em;

    }

    .grid-img-right {
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }

    .scissors-img {
        max-width: 100%;
        margin-right: 0em;
    }

    .grid-card {
        grid-template-columns: 1fr 1fr;
    }

    .team-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*  for 786px  */
    @media (max-width: 48em) {
        .team-grid {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    /* for 425px */
    @media (max-width: 26.5625em) {
        .grid-card {
            grid-template-columns: 1fr;
        }

        ul {
            text-align: center;
            font-size: 2em;
            margin-top: 0em;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .artist-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em;
    }

    .centered-text {
        font-size: 40px;
    }

    #selected-text {
        font-size: 40px;
    }
