/*main elements*/


body {
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Cutive Mono', monospace;
    line-height: 1.8;
    font-size: 17px;
    color: darkslategrey;
    background-color: #fefeff;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 3em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 2.5em;
    margin-top: 1em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 2em;
    margin-top: 3em;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: dimgrey;
}

h4 {
    font-weight: bold;
}

.logo {
    max-height: 7em;
}

/* links */
a {
    color: black;
}

a:visited {
    color: black;
    /*   check this later text-decoration-line: underline; */
}

a:hover {
    color: skyblue;
}

a:active {
    color: darkblue;
}

/* main navigation */
.navigation-grid {
    display: inline-flex;
    align-items: center;
}

ul {
    text-align: center;
    font-size: 1.3em;
    display: inline-flex;
}

nav li {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 5em;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: black;
}

a.donate-button {
    font-family: 'Cutive Mono', monospace;
    background-color: black;
    border-radius: 3em;
    font-size: 1.1em;
    color: white;
    padding: 1em 2em;
    text-align: center;
    position: relative;
    text-decoration: none;
}


.donate-button:link,
.donate-button:visited {
    color: white;
}

.donate-button:hover {
    color: skyblue;
    text-decoration-line: underline;
}

/* home page - image left text right*/
.grid-img-left {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

.lake-img {
    max-width: 100%;
    margin-left: -40px
}

.p-right {
    align-self: center;
    padding: 2em;
}

/* home page - image right text left */
.grid-img-right {
    margin-top: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

.scissors-img {
    max-width: 100%;
    margin-right: -40px;
}

.p-left {
    align-self: center;
    padding: 2em;
}

/* card deck */

.grid-card {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.card {
    /* Add shadows to create the "card" effect */
    width: 20em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


.card a {
    text-decoration: none;
}

.card a:hover {
    color: black;
}

img {
    max-width: 20em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

/* footer */

.footer {
    display: inline;
}

footer li {
    padding-bottom: 1.2em;
    padding-left: 2.4em;
    padding-right: 2.4em;
}

.socials {
    padding: 1.7em;
    margin-top: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-icon img {
    max-height: 3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

footer a {
    text-decoration: none;
}

/* media queries */

/* for 1024px */
@media (max-width: 64em) {

    .navigation-grid {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
    }

    nav li {
        font-size: 1em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-left: 1.1em;
        padding-right: 1.1em;
        margin-top: 1.8em;
    }

    a.donate-button {
        font-size: 1em;
        padding: 0.8em 1em;

    }

    .logo {
        max-width: 16em;
    }

    body {
        max-width: 100%;
        margin: 0 auto;
    }

    .grid-img-left {
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }

    .lake-img {
        max-width: 100%;
        margin-left: 0px;

    }

    .grid-img-right {
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }

    .scissors-img {
        max-width: 100%;
        margin-right: 0px;
    }

    @media (max-width: 75em) {

        body {
            max-width: 100%;
            margin: 0 auto;
        }
